	<!DOCTYPE html>
	<html lang="zxx" class="no-js">
	<head>
		<link rel="shortcut icon" href="">
		<!-- Mobile Specific Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Favicon-->
		<link rel="shortcut icon" href="img/fav.png">
		<!-- Author Meta -->
		<meta name="author" content="CodePixar">
		<!-- Meta Description -->
		<meta name="description" content="">
		<!-- Meta Keyword -->
		<meta name="keywords" content="">
		<!-- meta character set -->
		<meta charset="UTF-8">
		<!-- Site Title -->
		<title></title>

		<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet"> 
			<!--
			CSS
			============================================= -->
			<link rel="stylesheet" href="css/linearicons.css">
			<link rel="stylesheet" href="css/font-awesome.min.css">
			<link rel="stylesheet" href="css/jquery.DonutWidget.min.css">
			<link rel="stylesheet" href="css/bootstrap.css">
			<link rel="stylesheet" href="css/owl.carousel.css">
			<link rel="stylesheet" href="css/main.css">

		</head>
		<body>

			<!-- Start Header Area -->
			<header class="default-header">
				<nav class="navbar navbar-expand-lg  navbar-light">
					<div class="container">
						  <a class="navbar-brand" href="index.ejs">
						  <h4>Zen Solutions</h4>
						  </a>
						  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						    <span class="navbar-toggler-icon"></span>
						  </button>

						  <div class="collapse navbar-collapse justify-content-end align-items-center" id="navbarSupportedContent">
						    <ul class="navbar-nav">
								<li><a href="/signup">Sign Up</a></li>
								<li><a href="/login">Sign In</a></li>
								<li><a href="/mediatorapp">Mediator Application</a></li>


						    </ul>
						  </div>						
					</div>
				</nav>
			</header>
			<!-- End Header Area -->

			<!-- start banner Area -->
			<section class="banner-area relative" id="home" data-parallax="scroll" data-image-src="img/cover.png">
				<div class="overlay-bg overlay"></div>
				<div class="container">
					<div class="row fullscreen  d-flex align-items-center justify-content-end">
						<div class="banner-content col-lg-6 col-md-12">
							<h1>
								We Provide  <br>
								<span>Solutions</span> that <br>
								Are <span>Zen</span>							
							</h1>
							<a href="/signup" class="primary-btn2 header-btn text-uppercase">Sign In or Sign Up</a>
							<a href="/mediatorapp" class="primary-btn2 header-btn text-uppercase">Apply to Mediate</a>

						</div>												
					</div>
				</div>
			</section>
			<!-- End banner Area -->	


			<!-- Start About Area -->
			<section class="about-area">
				<div class="container-fluid">
					<div class="row justify-content-end align-items-center d-flex no-padding">
						<div class="col-lg-6 about-left mt-70">
							<h1>We can be your Online<br>
							Problems Solution Partner</h1>
							<div class="buttons">
								<a href="mission.ejs" class="about-btn text-uppercase primary-border circle">Our Mission Statement</a>
							</div>
						</div>
						<div class="col-lg-6 about-right">
							<img class="zen1" src="img/zen1.jpg" alt="">
						</div>
					</div>
				</div>	
			</section>
			<!-- End About Area -->


			<!-- Start project Area -->
			<section class="project-area section-gap" id="project">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="menu-content pb-40 col-lg-8">
							<div class="title text-center">
								<h1 class="mb-10">Why Zen Solutions?</h1>
								<p>You should choose Zen Solutions! We do our very best to meet needs when it comes to solving our Client's conflict. Zen Solutions is aimed towards building Client-Mediator relationships. We care deeply for our Client's.</p>
							</div>
						</div>
					</div>						
			</section>
			<!-- End project Area -->
			
		
			<!-- Start skill Area -->
			<section class="skill-area section-gap">
				<div class="container">
					<div class="row">
						<div class="col-lg-6 skill-left">
							<h1 class="text-white mb-30">The 6 Steps of Mediation</h1>
							<h3>1. Planning </h3>
								<p>Before the mediation process begins, the mediator helps the party or parties deicde what time to chat and who should be present.</p>
								<br>
							<h3>2. Mediator Introduction </h3>
								<p>When the parties are gathered, the mediator introduces themsleves to our clients and outlines the mediation process, ground rules and desired end goal.</p>
								<br>
							<h3>3. Opening Remarks </h3>
								<p>Following the introduction, each party has the oppurtunity to present it's view of the dispute without interruption.</p>
								<br>
							<h3>4. Joint Discussion </h3>
								<p>After each party presents its opening remarks, the mediator and the disputants are free to ask questions with the goal of arriving at a better understanding og each party's needs and concerns. If a break is needed this is the desired alloted time.</p>
								<br>
							<h3>5. Caucuses </h3>
								<p>If emotions run high during a joint session, the mediator might take this time to spli the two sides into seperate rooms for private meetings, or caucuses.</p>
								<br>
							<h3>6. Negotiation </h3>
								<p>At this time, it's best to begin forumlating each party's core interests for their settlement.</p>
						</div>
						</div>
					</div>
			</section>
			<!-- End skill Area -->
			
			
			<!-- Start team Area -->
			<section class="team-area section-gap" id="team">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="menu-content pb-70 col-lg-8">
							<div class="title text-center">
								<h1 class="mb-10">Zen Solutions Founder</h1>
							</div>
						</div>
					</div>						
					<div class="row justify-content-center d-flex align-items-center">
						<div class="col-md-3 single-team">
						    <div class="thumb">
						        <img class="img-fluid" src="img/bg_1.jpg" alt="">
						        <div class="align-items-center justify-content-center d-flex">
									<a href="https://twitter.com/mayachandlerdev"><i class="fa fa-twitter"></i></a>
									<a href="https://www.linkedin.com/in/maya-chandler-dev/"><i class="fa fa-linkedin"></i></a>
						        </div>
						    </div>
						    <div class="meta-text mt-30 text-center">
							    <h4>Maya Chandler</h4>
						    </div>
						</div>
						
							
																															
				
					</div>
				</div>	
			</section>
			<!-- End team Area -->	

			
			<!-- start footer Area -->		
			<footer class="footer-area section-gap">
				<div class="container">
					<div class="row">
						
						<div class="col-lg-6  col-md-12">
							<div class="single-footer-widget newsletter">
								<h6>Thank you for coming to Zen Solutions!</h6>
								<a href="/signup" class="primary-btn2 header-btn text-uppercase">Sign In or Sign Up</a>

								
									
								</div>		
							</div>
						</div>
												
					</div>

					<div class="row footer-bottom d-flex justify-content-between">
           
						
					</div>
				</div>
			</footer>
			<!-- End footer Area -->		

			<script src="js/vendor/jquery-2.2.4.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
			<script src="js/vendor/bootstrap.min.js"></script>
			<script src="js/jquery.ajaxchimp.min.js"></script>
			<script src="js/parallax.min.js"></script>			
			<script src="js/owl.carousel.min.js"></script>			
			<script src="js/jquery.sticky.js"></script>
			<script src="js/jquery.DonutWidget.min.js"></script>
			<script src="js/jquery.magnific-popup.min.js"></script>			
			<script src="js/main.js"></script>	
		</body>
	</html>