<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
        <link rel="shortcut icon" href="">
		<!-- Mobile Specific Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Favicon-->
		<link rel="shortcut icon" href="img/fav.png">
		<!-- Author Meta -->
		<meta name="author" content="CodePixar">
		<!-- Meta Description -->
		<meta name="description" content="">
		<!-- Meta Keyword -->
		<meta name="keywords" content="">
		<!-- meta character set -->
		<meta charset="UTF-8">
		<!-- Site Title -->
		<title></title>

		<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet"> 
			<!--
			CSS
			============================================= -->
			<link rel="stylesheet" href="css/linearicons.css">
			<link rel="stylesheet" href="css/font-awesome.min.css">
			<link rel="stylesheet" href="css/jquery.DonutWidget.min.css">
			<link rel="stylesheet" href="css/bootstrap.css">
			<link rel="stylesheet" href="css/owl.carousel.css">
			<link rel="stylesheet" href="css/main.css">
</head>
<body>
    <header class="default-header">
				<nav class="navbar navbar-expand-lg  navbar-light">
					<div class="container">
						  <a class="navbar-brand" href="index.ejs">
						  	<!-- <img src="img/logo.png" alt=""> -->
						  </a>
						  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						    <span class="navbar-toggler-icon"></span>
						  </button>

						  <div class="collapse navbar-collapse justify-content-end align-items-center" id="navbarSupportedContent">
						    <ul class="navbar-nav">
                                <li><a href="/">Home</a></li>
								<li><a href="/signup">Sign Up</a></li>
								<li><a href="/login">Sign In</a></li>
                                <li><a href="/mediatorapp">Mediator Application</a></li>



						    </ul>
						  </div>						
					</div>
				</nav>
			</header>
   
        <section class="skill-area section-gap">
				<div class="container">
					<div class="row">
						<div class="col-lg-6 skill-left">
                            <h1 class="text-white mb-30">Mediator Application</h1>
                            <form action="/mediatorapp" method="POST">
							<h3>Full Name </h3>
								<input type="text" placeholder="Full Name" name="fullname">
								<br>
							<h3>Resume Link</h3>
								<input type="text"  placeholder="Resume Link" name="resumelink">
								<br>
							<h3>Why do you want to mediate for Zen Solutions?</h3>
								<input type="text"  placeholder="Why Zen Solutions?" name="whyzen">
								<br>
							<h3>How did you hear about us?</h3>
								<input type="text"  placeholder="How did you hear about us?" name="hearabout">
								<br>
							<h3>Phone Number</h3>
								<input type="text"  placeholder="Phone Number" name="phone">
								<br>
							<h3>Email</h3>
                                <input type="text"  placeholder="Email" name="appemail">
                                <br/>
                                <br/>
                                <button type="submit" class="genric-btn primary circle">Submit Application</button>

                        </div>
                    </form>
                        <h2>We will get back to you within 24-48 hours</h2>
						</div>
					</div>
			</section>  








</body>
</html>