<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title></title>
    <link rel="shortcut icon" href="" />
    <link rel="stylesheet" href="main.css" />
    <!-- Mobile Specific Meta -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Favicon-->
    <link rel="shortcut icon" href="img/fav.png" />
    <!-- Author Meta -->
    <meta name="author" content="CodePixar" />
    <!-- Meta Description -->
    <meta name="description" content="" />
    <!-- Meta Keyword -->
    <meta name="keywords" content="" />
    <!-- meta character set -->
    <meta charset="UTF-8" />
    <!-- Site Title -->
    <title></title>

    <link
      href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700"
      rel="stylesheet"
    />
    <!--
			CSS
			============================================= -->
    <link rel="stylesheet" href="css/linearicons.css" />
    <link rel="stylesheet" href="css/font-awesome.min.css" />
    <link rel="stylesheet" href="css/jquery.DonutWidget.min.css" />
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/owl.carousel.css" />
    <link rel="stylesheet" href="css/main.css" />
  </head>
  <body>
    <header class="default-header">
      <nav class="navbar navbar-expand-lg  navbar-light">
        <div class="container">
          <a class="navbar-brand" href="index.ejs">
            <!-- <img src="img/logo.png" alt=""> -->
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div
            class="collapse navbar-collapse justify-content-end align-items-center"
            id="navbarSupportedContent"
          >
            <ul class="navbar-nav">
              <li><a href="/">Home</a></li>
              <li><a href="/signup">Sign Up</a></li>
              <li><a href="/login">Sign In</a></li>
              <li><a href="/mediatorapp">Mediator Application</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <section class="skill-area section-gap">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 skill-left">
            <h2>Zen Solutions Mission Statement</h2>
            <p>
              Zen Solutions aims to build relationships with clientell through
              online mediation. Zen Solutions deeply cares for our clients. Zen
              Solutions works very hard to go above and beyond to leave our
              clients with the end goal they were wishful for. Mediation comes
              with many steps that our mediators glide through smoothly and
              professionaly to give our clients the best expereince when solving
              conflict.
            </p>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
